# Configurações do Servidor
PORT=3000

# Conexão com o Banco de Dados PostgreSQL
DB_USER=seu_usuario_postgres
DB_HOST=localhost
DB_DATABASE=portart_db
DB_PASSWORD=127869
DB_PORT=5432

# Segurança e Autenticação
CHAVE_SECRETA_JWT=ChaveSecretaDoProjetoPortArt2026